<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean class="com.revature.service.FileSaverService" id="saver">
        <property name="fileName" value="Employee.dat"/>
<!--        <property name="driver" value="OrclDriver"/>-->
<!--        <property name="url" value="OrclCalURL"/>-->
<!--        <property name="username" value="SuperUser"/>-->
<!--        <property name="password" value="SuperPass"/>-->
    </bean>

    <bean class="com.revature.controller.SaverController" id="controller" autowire="byName"/>

</beans>